html
{background-color: lightblue;}
body
{ background-color: black;
margin-right:150px;
margin-left:150px;
margin-top:0px;
  margin-bottom:0px;
  color : white;
border-radius: 50px;
text-shadow: 3px 3px 5px grey;
font-size: 1.2em;}


nav {
  border: 3px lightblue inset;
  border-radius: 10px;
  font-size: 1.5em;
}


div.container
{align-items: center;}

<<<<<<< HEAD
li .hovered:hover
=======
li.hoverd :hover
>>>>>>> 00e865b155998ce8a67f38ec907ff4d5646e548f
{font-size: 1.5em;
transition: 0.6 sec ease;}

h1 {
  text shadow: 3px 3px 5px blue;
  color : lightblue;
  font-style: oblique;
  font-family: sans-serif lightblue;
  font-size: 6em;
  text-align: center;

}
